<!DOCTYPE html>
<html>
<head>
	<title>
	    PETRICHOR-2020
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script data-main="js/app" src="scripts/BackAnim.js"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Cookie|Great+Vibes|Kaushan+Script|Playball&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
	
	<style>
     /* Set height to 100% for body and html to enable the background image to cover the whole page: */
        body, html {
          height: 100%
        }

.background {
  /* Background image */
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  /* Scale and zoom in the image */
  background-size: cover;
  /* Set the font-size to 25 pixels */

}

        /* Position text in the top-left corner */
        .topleft {
          position: absolute;
          top: 0;
          left: 16px;
        }


        /* Position text in the middle */
        .middle {
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: white;
          font-family: GandhiSans;
        }
        
        h1{
            font-size: 5.5rem !important;
        }
        
        @font-face {
            font-family: "GandhiSans";
            src: url("fonts/GandhiSans-Bold.otf");
        }
        

	</style>

</head>
	<body>
	

		 <div class="gradient background">
          <div class="topleft">
            
          </div>
          <div class="middle">
          <img id="logo" src="img/logo.png" alt="PETRICHOR 2020" style="max-width:300px;max-height:300px;">
          <br><br><br>
            <h1>COMING SOON</h1>
          </div>
        </div> 
        
        

	</body>
</html>
