<!DOCTYPE html>
<html>
<head>
	<title>
	    PETRICHOR-2020
	</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script data-main="js/app" src="scripts/BackAnim.js"></script>
	
	<style>
     /* Set height to 100% for body and html to enable the background image to cover the whole page: */
        body, html {
          height: 100%
        }

  @font-face {
            font-family: "GandhiSans";
            src: url("fonts/GandhiSans-Bold.otf");
        }


	</style>
	
</head>
	<body>
	

<div class="gradient background">

<!-- Header -->

  <div class="container" style="text-align: center; padding-top: 3%; padding-bottom: 3%;">
    <h1 class="font-weight-light text-white" style="font-family: GandhiSans; font-size: 500%;">Web Developers</h1>
  </div>


<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/himanshu.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Himanshu Jain</h5>
          <div class="card-text text-black-50">+91-9079086711</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/sakshi.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Sakshi Rathore</h5>
          <div class="card-text text-black-50">+91-7999337101</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/satchit.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Satchit Desai</h5>
          <div class="card-text text-black-50">+91-9408356883</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/devansh.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Devansh Singh Rathore</h5>
          <div class="card-text text-black-50">+91-8078448422</div>
        </div>
      </div>
    </div>
</div>
  
  <!-- /.row -->

</div>
<!-- /.container -->

</div>
        

	</body>
</html>
