<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="w07Yy3MyGcBMbHJy_g-Wzdtq-q0GpBmrvGTKtQIl12g" />
    <meta name="google-site-verification" content="KWiRkXENVVypNuNBrlVVjjYtWzh967pPCCwJTFQ3auE"/>
    <meta name="google-site-verification" content="7SVvxCgA6vDl3wSzow1vHCQcdyTnPH21mbhvx4mrwP0">
    <meta name="google-site-verification" content="KWiRkXENVVypNuNBrlVVjjYtWzh967pPCCwJTFQ3auE" />
    <title>PETRICHOR 2020</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="scripts/BackAnim.js"></script>
    <link rel="stylesheet" href="stylesheets/responsiveness.css">
    <script type="text/javascript">
        function video_close() {
            //First get the  iframe URL
            var url = $('#vid_f').attr('src');

            //Then assign the src to null, this then stops the video been playing
            $('#vid_f').attr('src', '');

            // Finally you reasign the URL back to your iframe, so when you hide and load it again you still have the link
            $('#vid_f').attr('src', url);
        }
       </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="scripts/bootstrap_home.js"></script>
    <script src="scripts/slick.js"></script>

     
     <script>
        $(window).on('load', function () {

            if ($(window).width() > 1000) {
                $('.top-menu').css("visibility", "hidden");
            }
            else {
                var events = document.getElementsByClassName('hidden_speaker');
                for (i = 0; i < events.length; i++) {
                    events[i].style.display = "none";
                }
            }

        });
                                
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9546354-3"></script>
     
     	<link rel="stylesheet" type="text/css" href="stylesheets/home_home.css">
     	<link rel="stylesheet" type="text/css" href="stylesheets/style1_home.css">
     	<link rel="stylesheet" type="text/css" href="stylesheets/events.css">
     	 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

        
        
       
        
              
        
    <script>
    
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-9546354-3');
    </script>
    <style>
        #loader-wrap {
            height: 100vh;
            width: 100%;
            z-index: 9999;
            background: #0a0100;
            position: fixed;
            top: 0;
            left: 0;
            transition: opacity .2s linear
        }
        a:focus, a:hover {
            color: #b70426 !important;
            text-decoration : none !important;
            
        }
        #loader-title {
            color: #fff;
            font-size: 230%;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 65%
        }
        
        .loader-circles {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transform: translateY(-10%)
        }
        
        .loader-circles .circle {
            box-sizing: border-box;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            background-color: transparent;
            border: 4px solid #fff;
            border-radius: 50%;
            border-bottom-color: transparent;
            border-right-color: transparent;
            text-align: center
        }
        
        .loader-circles .circle:nth-child(even) {
            border-color: #c90000;
            border-bottom-color: transparent;
            border-right-color: transparent
        }
        
        .loader-circles .circle:nth-child(odd) {
            border-color: #c90000;
            border-bottom-color: transparent;
            border-right-color: transparent
        }
        
        .loader-circles .circle:nth-child(1) {
            width: 180px;
            height: 180px;
            animation: rotate-circle linear infinite;
            animation-duration: 2s
        }
        
        .loader-circles .circle:nth-child(2) {
            width: 40px;
            height: 40px;
            animation: rotate-circle linear infinite;
            animation-duration: 6s
        }
        
        .loader-circles .circle:nth-child(3) {
            width: 60px;
            height: 60px;
            animation: rotate-circle linear infinite;
            animation-duration: 4s
        }
        
        .loader-circles .circle:nth-child(4) {
            width: 80px;
            height: 80px;
            animation: rotate-circle linear infinite;
            animation-duration: 3s
        }
        
        .loader-circles .circle:nth-child(5) {
            width: 100px;
            height: 100px;
            animation: rotate-circle linear infinite;
            animation-duration: 2.4s
        }
        
        .loader-circles .circle:nth-child(6) {
            width: 120px;
            height: 120px;
            animation: rotate-circle linear infinite;
            animation-duration: 2s
        }
        
        .loader-circles .circle:nth-child(7) {
            width: 140px;
            height: 140px;
            animation: rotate-circle linear infinite;
            animation-duration: 1.71429s
        }
        
        .loader-circles .circle:nth-child(8) {
            width: 160px;
            height: 160px;
            animation: rotate-circle linear infinite;
            animation-duration: 1.5s
        }
        
        .loader-circles .circle:nth-child(9) {
            width: 180px;
            height: 180px;
            animation: rotate-circle linear infinite;
            animation-duration: 1.33333s
        }
        
        .loader-circles .circle:nth-child(10) {
            width: 200px;
            height: 200px;
            animation: rotate-circle linear infinite;
            animation-duration: 1.2s
        }
        
        @keyframes rotate-circle {
            100% {
                transform: rotate(360deg)
            }
        }
        
        @keyframes rotate-circle {
            100% {
                transform: rotate(360deg)
            }
        }
        
        @font-face {
            font-family: "Arapey";
            src: url("fonts/Arapey-Regular.ttf");
        }
        
        @font-face {
            font-family: "GandhiSans";
            src: url("fonts/GandhiSans-Bold.otf");
        }
        
        @keyframes rotate-circle {
            100% {
                transform: rotate(360deg)
            }
        }
        
        @keyframes rotate-circle {
            100% {
                transform: rotate(360deg)
            }
        }
        
        @keyframes rotate-circle {
            100% {
                transform: rotate(360deg)
            }
        }
        
        @keyframes rotate-circle {
            100% {
                transform: rotate(360deg)
            }
        }
        
        @keyframes rotate-circle {
            100% {
                transform: rotate(360deg)
            }
        }
        
        @keyframes rotate-circle {
            100% {
                transform: rotate(360deg)
            }
        }
        
        @keyframes rotate-circle {
            100% {
                transform: rotate(360deg)
            }
        }
        
        @keyframes rotate-circle {
            100% {
                transform: rotate(360deg)
            }
        }
    </style>

</head>

<body class="scroll-disable" id="body">

    <div id="loader-wrap">
        <div class="loader-circles">
            <div class="circle"></div>

        </div>
        <div id="loader-title">PETRICHOR 2020</div> 
	</div>
	<div id="home" class="section">
	<div class=" demo">
	   <div class="content">
	      <div id="large-header" class="large-header bb">
	         <canvas id="demo-canvas" class="div-no-mobile"></canvas>
	      </div>
	   </div>
	</div>
	</div>

    <hr class="vertical-lines desktop-only" style="left:10vw">
    <hr class="vertical-lines desktop-only" style="left:30vw">
    <hr class="vertical-lines desktop-only" style="left:50vw">
    <hr class="vertical-lines desktop-only" style="left:70vw">
    <hr class="vertical-lines desktop-only" style="left:90vw">
    <div id="nav" class="desktop-only">
        <div class="nav-item nav-link" data-to="home">
            <div class="bar"></div>
            <div class="nav-number-primary nav-link">01</div><span class="nav-hover-text">&nbsp;&nbsp;&nbsp;Home</span>
            <div class="nav-number-secondary">01</div>
            <div class="nav-text">Home</div>
        </div>
    </div>
    <div id="navbar"><img id="logo" src="https://raw.githubusercontent.com/RathoreDevansh08/FestWeb_CA-Portal/master/Petrichor-white.png" alt="PETRICHOR 2020">
        <div id="links">
            <div id="nav-links" class="desktop-only"><span><a href="/sponsors">Sponsors</a> </span><span><a href="#workshop">Events</a> </span><span><a href="/cap">CA Portal</a> </span><span><a href="https://www.thecollegefever.com/events/petrichor20#openticket"  >Accomodation</a> </span><span><a href="/team"  >Contact Us</a> </span></div><img src="img/lines.png" alt="MENU" id="hamburger"></div>
        <div id="links2"><img src="https://www.freeiconspng.com/uploads/close-button-png-27.png" alt="CLOSE" class="close-overlay" id="close-events"></div>
    </div>
    <div id="star-container">
 
    </div>
    <div id="side-menu" class="gradient" style="background: black !important">
        <div id="side-menu-top"><span id="side-menu-heading" style="font-size: 200%; font-weight: 700;">MENU</span> <img src="https://www.freeiconspng.com/uploads/close-button-png-27.png" alt="CLOSE" id="close-hamburger"></div>
        <div id="side-menu-list"><span class="nav-link"><a href="#home"  >Home</a> </span><span class="nav-link"><a href="#about"  >ABOUT US</a> </span><span class="nav-link"><a href="#workshop"  >EVENTS</a> </span><span class="nav-link"><a href="https://drive.google.com/open?id=1dnbAnzaDZw-zeJba0aX_p-QxRBn4WtIN"  >How to Reach</a> </span><span class="nav-link"><a href="/technical"  >Technical Events</a> </span><span class="nav-link"><a href="/cultural"  >Cultural Events</a> </span><span class="nav-link"><a href="/workshops"  >Workshops</a> </span><span class="nav-link"><a href="/proshows"  >Proshows</a> </span><span class="nav-link"><a href="/guestlect"  >Guest Lectures</a> </span><span class="nav-link"><a href="/cap"  >CA Portal</a> </span><span class="nav-link"><a href="/sponsors"  >Sponsors</a> </span><span class="nav-link"><a href="/team"  >Contact Us</a> </span><span class="nav-link"><a href="https://www.thecollegefever.com/events/petrichor20#openticket"  >Accomodation</a> </span><span class="nav-link"><a href="/developers"  >Developers</a> </span>
        </div>
        <div id="side-menu-footer" class="mobile-only">
            <div class="content-line-wrap">
                <hr class="before-content-line"><span class="nav-link"><a href="/technical"  >Technical Events</a> </span>
            </div>
        </div>
    </div>
    
     <div id="container1">
            <div class="home-content1" style="display:none !important">
                <div class="home-content-buttons mobile-only1"></div>
            </div>
            <div id="lady-container" style="display:none !important"></div>
            <div class="home-footer desktop-only"style="display:none !important">
                <div class="social-links">
                    <div class="home-footer-line-wrap">
                    </div>
                </div>

                <div class="fest-tag-line">
                    <div class="home-footer-line-wrap">
                    </div>The Techno-Cultural fest of IIT PKD</div>
            </div>

<div id="about" class="section">
       
       
    <div class="gradient">
       <div class="container"  style="width: auto;">
                <div style="margin-top: -9%;" class="mm">
                    
                        <div class="mu-about-area ">
                            <!-- Start Feature Content -->
                            <div class="row">
                                <div class="col-md-12">
                                </div>
                                <div class="col-md-12" >
                                    <div class="mu-about-right">
                                        <h2 class="au" style="font-family : GandhiSans; color: white; font-size: 400%; text-align: center;">ABOUT US</h2>
                                        <p class="about_para" style="margin-top: 5%; font-size: 150%; font-family: Arapey; text-align: center; margin-left: 150px; margin-right: 50px;">
                                            <br />

Petrichor denotes the pleasant smell that accompanies the first rain after a long spell of warm weather; the novelty and freshness of a new beginning. Petrichor, the annual technocultural fest of IIT Palakkad, is a golden opportunity to bring out the artist or techie in you and to meet exponents from various technical, cultural and social fields.
<br/><br/>
"Seize the moment" is a call unto ourselves to take complete hold of the moments that define us - moments that manifest themselves in opportunities. In our endeavours to own those moments, we not only awaken our hitherto dormant competence but also leave behind a legacy of thought that firmly believes in the destiny of one's own making.

The theme pledges you to bring out the best version of yourself as and when opportunities present themselves, and when you do so the realization that "what you seek is seeking you" will elude you no more.
<br/><br/>
      Petrichor made its mark with its inception in October 2018, and has continued to build on its glory, one step at a time. Our aspirations of a techno-cultural fusion have yet again brought us to another endeavour- Petrichor 2020. Come this January, Petrichor will be your escape from the monotony of everyday life and the place where your dreams will take flight. So jump on the Petrichor bandwagon this January and lose yourself in the spectacular displays of talent.           
<br/>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <!-- End Feature Content -->

                        </div>
                  
            </div>
       </div>
       </div>
        <div id="mu-video" height:auto;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12  watch_text">
                            <div class="mu-video-area">
                                <a class="mu-video-play-btn play" href="#"><i class="fa fa-play" aria-hidden="true"></i></a></br></br>
                                <p class = "hu" style="font-family : GandhiSans; color: white; font-size: 150%; text-align: center; ">PETRICHOR'18 AFTER MOVIE</p>
                            </div>
                        </div>
                    </div>
                
            </div>

            <!-- Start Video content -->
            <div class="mu-video-content">
                <div class="mu-video-iframe-area">
                    <a class="mu-video-close-btn" href="#" onclick="video_close()"><i class="fa fa-times" aria-hidden="true"></i></a>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lVx3KsZ6xFk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <!-- End Video content -->

        </div>
       </div>
       
       
       <div id="workshop" class="events section gradient">
           <div class="gradient">
               <div style=" font-family : GandhiSans; color: white; font-size: 700%; text-align:center; padding-top:2%;"><br> EVENTS <br></div>
               <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="ll"><a href="/technical"><img src="img/technical.jpg"></a></div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="ll"><a href="/cultural"><img src="img/cultural.jpg"></a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="ll"><a href="/proshows"><img src="img/proshows.jpg"></a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="ll"><a href="guestlect"><img src="img/guest.jpg"></a></div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="ll"><a href="/workshops"><img src="img/workshop.jpg"></a></div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
       
<div id="contact" class="section gradient">
            <div style=" font-family : GandhiSans; color: white; font-size: 500%; text-align:center;"> <br>CONTACT US<br> </div>
            <div id="contact-container" class="carousel-contact">
                <div class="person-container">
                    <div class="person-image"><img src="img/team/omkar.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Omkar Sanjay Sakre</span>
                        <br>Fest Co-ordinator
                        <br>+91-8692028636
                        <br>
                    </div>
                </div>
                <div class="person-container">
                    <div class="person-image"><img src="img/team/sreehari.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Sreehari PS</span>
                        <br>Assistant Co-ordinator
                        <br>+91-9349680643
                        <br>
                    </div>
                </div>
                <div class="person-container">
                    <div class="person-image"><img src="img/team/Afroz.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Shaikh Afroz Arshad</span>
                        <br>Students' General Secretary
                        <br>+91-7385083269
                        <br>
                    </div>
                </div>
                <div class="person-container">
                    <div class="person-image"><img src="img/team/yaseen.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Muhammed Yaseen</span>
                        <br>Public Relation Head
                        <br>+91-9497745691
                        <br>
                    </div>
                </div>
                <div class="person-container">
                    <div class="person-image"><img src="img/team/shubham.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Shubham Gupta</span>
                        <br>Fest Mentor
                        <br>+91-7389523231
                        <br>
                    </div>
                </div>
            	<div class="person-container">
                    <div class="person-image"><img src="img/team/musu.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Muskaan Maheshwari</span>
                        <br>Technical Head
                        <br>+91-9079838450
                        <br>
                    </div>
                </div>
                <div class="person-container">
                    <div class="person-image"><img src="img/team/akash.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Akash Nayak</span>
                        <br>Technical Head
                        <br>+91-7898602223
                        <br>
                    </div>
                </div>
                
                <div class="person-container">
                    <div class="person-image"><img src="img/team/maria.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Maria Rose Joseph</span>
                        <br>Cultural Head
                        <br>+91-7034984596
                        <br>
                    </div>
                </div>
                <div class="person-container">
                    <div class="person-image"><img src="img/team/aswin.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Aswin Krishna</span>
                        <br>Cultural Head
                        <br>+91-8078082906
                        <br>
                    </div>
                </div>
                
                
                
                
                
                
                <div class="person-container">
                    <div class="person-image"><img src="img/team/raghav.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Raghav Tiwari</span>
                        <br>Design Head
                        <br>+91-9413077782
                        <br>
                    </div>
                </div>
                <div class="person-container">
                    <div class="person-image"><img src="img/team/deepu.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Deepu George Kurian</span>
                        <br>Design Head
                        <br>+91-8330061357
                        <br>
                    </div>
                </div>
                <div class="person-container">
                    <div class="person-image"><img src="img/team/pavan.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Pavan Chandra</span>
                        <br>Sponsorship Head
                        <br>+91-7075016517
                        <br>
                    </div>
                </div>
                <div class="person-container">
                    <div class="person-image"><img src="img/team/shyam.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Shyam Krishna M</span>
                        <br>Sponsorship Head
                        <br>+91-8281805401
                        <br>
                    </div>
                </div>
                <div class="person-container">
                    <div class="person-image"><img src="img/team/shreeharsha.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Sriharsha Gaddipati</span>
                        <br>Finance Head
                        <br>+91-8281112799
                        <br>
                    </div>
                </div>
                <div class="person-container">
                    <div class="person-image"><img src="img/team/vishesh.jpg"></div>
                    <div class="person-info"><span style="font-weight: bold;">Vishesh Munjal</span>
                        <br>Hospitality Head
                        <br>+91-6282459207
                        <br>
                    </div>
                </div>
                
                
                
                
                
            </div>
            <div id="contact-footer">
                <div class="social-links"><span class="desktop-only">FOLLOW US ON</span>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/petrichor.iitpkd/"  ><i class="fa fa-facebook"></i></a>
                        <a href="https://youtu.be/qldmRVrPfiA"  ><i class="fab fa-youtube"></i></a>
                        <a href="https://instagram.com/petrichor.iitpkd?igshid=1060kcixktpb1"  ><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript" src="scripts/main_home.js"></script>
</body>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
<script src="scripts/demo_home.js"></script>
<script src="scripts/custom.js"></script>


</html>
