
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sponsors</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81222017-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-81222017-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->


    <style>

    	@font-face {
            font-family: "GandhiSans";
            src: url("fonts/GandhiSans-Bold.otf");
        }
        @font-face {
	  	font-family: Potra;
	  	src: url(fonts/Potra.ttf);
	      }  
    	.He{
    		font-family: Potra;
    		text-shadow: 2px 2px #111111;
    	}


    	body {
		  background-color: #242424;
		}
    
        .row{
            text-align: center;
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }
        h3{
            text-align: center;
            color: white;
        }
        h2{
            text-align: center;
            color: white;
        }
        img{
            max-width: 100vw;
        }
        .profile_image{
            text-align: center;
        }
    </style>
</head>

<body>

<div class="row">
    <br><br><br>
    <font color="#8f1414" size="66px"><span style="font-weight: 2000; font-size: 80px;"><b>SPONSORS</b></span></font>
<br><br>

<div class="row">
    <br><br><br>
    <h2><b>Title Sponsor</b></h2>
    <div class="profile_image">
        <a href="https://www.geekstack.co.in">
            <img src="img/sponsors/title.jpg" style="height: 190px; width: auto">
        </a>
    </div>
</div>
<br>


<br>


<!-- <h3><b>Pro-Night Lagori Sponsor</b></h3>

<div align="center">
    <div class="profile_image">
        <a href="https://www.total.in/">
            <img src="img/sponsors/lagori.jpg" style="height: 190px; width: auto">
        </a>
    </div>
</div>
<br><br><br> -->

<h3><b>Ticketing Partner</b></h3>

<div align="center">
    <div class="profile_image">
        <!-- <a href="https://www.total.in/"> -->
            <img src="img/sponsors/ticketing.jpg" style="height: 190px; width: auto">
        </a>
    </div>
</div>
<br><br><br>

<h3><b>Entertainment Partner</b></h3>
<br>
<div align="center">
    <div class="profile_image">
        <!-- <a href="https://www.sultanofflavours.com"> -->
            <img src="img/sponsors/entertainment.jpg" style="height: 190px; width: auto">
        <!-- </a> -->
    </div>
</div>
<br>
<br>
<br>

<h3><b>Apparel Partner</b></h3>
<br>
<div align="center">
    <div class="profile_image">
        <!-- <a href="https://www.sultanofflavours.com"> -->
            <img src="img/sponsors/apparel.jpg" style="height: 190px; width: auto">
        <!-- </a> -->
    </div>
</div>
<br>
<br>
<br>

<h3><b>Food Partner / Music Events Sponsor</b></h3>
<br>
<div align="center">
    <div class="profile_image">
        <a href="https://www.sultanofflavours.com">
            <img src="img/sponsors/food.jpg" style="height: 190px; width: auto">
        </a>
    </div>
</div>
<br>
<br>
<br>

<h3><b>Production Partner</b></h3>
<br>
<div align="center">
    <div class="profile_image">
        <a href="https://www.sultanofflavours.com">
            <img src="img/sponsors/production.jpg" style="height: 190px; width: auto">
        </a>
    </div>
</div>
<br>
<br>
<br>



<h3><b>Marketing Partner</b></h3>
<br>
<div align="center">
    <div class="profile_image">
        <!-- <a href="https://www.sultanofflavours.com"> -->
            <img src="img/sponsors/marketing.jpg" style="height: 190px; width: auto">
        <!-- </a> -->
    </div>
</div>
<br>
<br>
<br>

<h3><b>Dance/Quiz Events Sponsor</b></h3>
<br>
<div align="center">
    <div class="profile_image">
        <!-- <a href="https://www.sultanofflavours.com"> -->
            <img src="img/sponsors/dance.jpg" style="height: 190px; width: auto">
        <!-- </a> -->
    </div>
</div>
<br>
<br>
<br>

<h3><b>Drama/Photography Events Sponsor</b></h3>
<br>
<div align="center">
    <div class="profile_image">
        <!-- <a href="https://www.sultanofflavours.com"> -->
            <img src="img/sponsors/drama.jpg" style="height: 190px; width: auto">
        <!-- </a> -->
    </div>
</div>
<br>
<br>
<br>



</body>
</html>
