<!DOCTYPE html>
<html>
<head>
	<title>
	    PETRICHOR-2020
	</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script data-main="js/app" src="scripts/BackAnim.js"></script>
	
	<style>
     /* Set height to 100% for body and html to enable the background image to cover the whole page: */
        body, html {
          height: 100%
        }

  @font-face {
            font-family: "GandhiSans";
            src: url("fonts/GandhiSans-Bold.otf");
        }


	</style>
	
</head>
	<body>
	

<div class="gradient background">

<!-- Header -->

  <div class="container" style="text-align: center; padding-top: 3%; padding-bottom: 3%;">
    <h1 class="font-weight-light text-white" style="font-family: GandhiSans; font-size: 500%;">Meet the Team</h1>
  </div>


<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/omkar.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Omkar Sakre</h5>
          <div class="card-text text-black-50">Fest Co-ordinator</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/sreehari.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Sreehari PS</h5>
          <div class="card-text text-black-50">Assistant Co-ordinator</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/shubham.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Shubham Gupta</h5>
          <div class="card-text text-black-50">Fest Mentor</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->  
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/Afroz.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Shaikh Afroz Arshad </h5>
          <div class="card-text text-black-50">Students' General Secretary </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/yaseen.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Muhammed Yaseen </h5>
          <div class="card-text text-black-50">Public Relation Head </div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/musu.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Muskaan Maheshwari</h5>
          <div class="card-text text-black-50">Technical Head</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/akash.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Akash Nayak </h5>
          <div class="card-text text-black-50">Technical Head </div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/maria.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Maria Rose Joseph</h5>
          <div class="card-text text-black-50">Cultural Head</div>
        </div>
      </div>
    </div>
  </div>
  
    
  
  <div class="row">
  
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/aswin.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Aswin Krishna</h5>
          <div class="card-text text-black-50">Cultural Head</div>
        </div>
      </div>
    </div>
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/raghav.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Raghav Tiwari </h5>
          <div class="card-text text-black-50">Design Head </div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/deepu.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Deepu George Kurian </h5>
          <div class="card-text text-black-50">Design Head </div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/pavan.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Pavan Chandra</h5>
          <div class="card-text text-black-50">Sponsorship Head</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    
  </div>
  
   <div class="row">
   <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/shyam.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Shyam Krishna M </h5>
          <div class="card-text text-black-50">Sponsorship Head </div>
        </div>
      </div>
    </div>
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/shreeharsha.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Sriharsha Gaddipati  </h5>
          <div class="card-text text-black-50">Finance Head  </div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/vishesh.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Vishesh Munjal </h5>
          <div class="card-text text-black-50">Hospitality Head</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/Shubhajit.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Shubhajit Karmakar</h5>
          <div class="card-text text-black-50">Promotion In-Charge</div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/piyush.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Piyush Chaudhary</h5>
          <div class="card-text text-black-50">Content Team Head</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/himanshu.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Himanshu Jain</h5>
          <div class="card-text text-black-50">Website Creative Head</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/chandana.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Chandana S K</h5>
          <div class="card-text text-black-50">Social Initiative In-Charge</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/arjun.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Arjun K Vikram</h5>
          
          <div class="card-text text-black-50" style="font-size: 78%; margin-top: 2%;" >Guest Lecture and Pro show In-Charge</div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="row">
    <!-- Team Member 1 -->
    <div class="offset-xl-2 col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/gopu.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Gopu Krishnan M</h5>
          <div class="card-text text-black-50">Ideate Head</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/maanas.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Maanas</h5>
          <div class="card-text text-black-50">Security Head</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="img/team/abhiram.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Abhiram Manoj KV</h5>
          <div class="card-text text-black-50">Fun Events Head</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

</div>
        

	</body>
</html>
