<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<!--<link rel="icon" type="image/png" href="assets/img/favicon.ico">-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Dashboard</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="stylesheets/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="stylesheets/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="stylesheets/demo.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body style="background:#d7e0e0">

<div class="wrapper">
    <div class="sidebar" data-color="blue" >

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                <img src="https://raw.githubusercontent.com/RathoreDevansh08/FestWeb_CA-Portal/master/Petrichor-white.png" alt="Petrichor" style="padding-bottom:5px;width:100px;height:29px;border:0;">
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/account">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="account/profile">
                        <i class="pe-7s-user"></i>
                        <p>Profile</p>
                    </a>
                </li>
                <li>
                    <a href="account/registrations">
                        <i class="pe-7s-ticket"></i>
                        <p>Registrations</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#">Dashboard</a>-->
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                
								<!--<p class="hidden-lg hidden-md">Dashboard</p>-->
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-sm hidden-xs"></b>
                                    <% if(user.notifications.length != 0) { %>
                                    <span class="notification hidden-sm hidden-xs"><%= user.notifications.length %></span>
                                    <% } %>
									<p class="hidden-lg hidden-md">
										<%= user.notifications.length %> Notifications
										<b class="caret"></b>
									</p>
									
                              </a>
                              <ul class="dropdown-menu">
                                 <% if(user.notifications.length != 0) { %>
                                <% for (var i=0; i < user.notifications.length; i++) { %>
                                <div class="header">
                                    <li style="padding-left:3%; color: black;"><%= user.notifications[i] %></li>
                                    </div>
                                <% } %>
                                <% } else { %>
                                    <div class="header">
                                    <li style="color: grey; margin-left:3%;">No recent notification</li>
                                    </div>
                                <% } %>
                              </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        
                        
                        <li>
                            <a href="/logout">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!--<div class="card" style = "background: #d7e0e0">-->

                            <div class="header" style="text-align: center;  height: 70%; margin-bottom: 2%">
                                <h2 style = "margin-bottom : 2%;">Token ID: <%= user.registerToken %></h2>
                                <h2>Number of Registrations: <%= user.registrations.length %></h2>
                                <h2>Points Earned: <%= user.new_points %></h2>
                                <h2>Rank: <%= user.rank %></h2>
                    </div>

                    <div style="width: 100%; ">
            <div style="display: block; margin: 10px auto; width: 80%;">
                <div  style="padding-top: 10px;border: 2px solid black; border-radius: 5px;">
                    <h5>
                    <ul>
                        <li>Please take a note of the tokenID for future references.</li>
                        <li>Use this token ID at the time of registration to get the best of the incentives.</li>
                        <li>You can avail free workshops, entry to proshows and other amazing surprises from Petrichor 2020!</li>
                        <li>Registrations includes events which are conducted prior to the fest too! Make the best of it!</li>
                        <li>Check out our website as well as the FB/Insta pages for regular updates !
                        </li>
                    </ul>
                    </h5>
                    <h3 style="padding-bottom: 10px; padding-left:12%;">Stay Tuned!</h3>
                </div>        
            </div>
        </div>
                    
                    <div class="header">
                                <h3 style = "margin-bottom : 2%; background: #d7e0e0">Updates</h3>
                                <% for(var i=0; i < updates.length; i++) { %>
                                    <ul>
                                        <li><h5><%= updates[i] %></h5></li>
                                    </ul>
                                <% } %>
                                <% if(updates.length == 0){ %>
                                    <h5> No Recent Updates.</h5>
                                <% } %>
                    </div>

                </div>



    
            </div>
        </div>
        
        
</div>


</body>

    <!--   Core JS Files   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="scripts/bootstrap.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="scripts/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="scripts/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="scripts/light-bootstrap-dashboard.js?v=1.4.0"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="scripts/demo.js"></script>

 	<script type="text/javascript">
//     	$(document).ready(function(){
//         	demo.initChartist();
//         	$.notify({
//             	icon: 'pe-7s-gift',
//             	message: "Welcome to <b>Petrichor</b> CA portal"
//             },{
//                 type: 'info',
//                 timer: 500 ,
//             });
//     	});
// 	</script>

    <script type="text/javascript">
    $(document).ready(function(){
        console.log("hhh");
        if(user.notifications[0] == "Please update your profile in the profile section.") {
            console.log("uhhh");
            location.href = "account/profile";
        }
    });
    </script>
    
</html>
