<!DOCTYPE html>
<html lang="en-US">
<head>

<!-- Basic Page Head -->

<title>AR/VR</title>

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Favicons -->
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

<!-- Css -->
<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/owl.theme.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/style1.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/responsive.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

<!-- Google Fonts -->
<!--<link href="fonts.googleapis.com/cssf7a2.css?family=Roboto:200,300,400,500,600,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
<!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">-->
<!--<link rel="stylesheet" type="text/css"
          href="style.css"/>-->
		  <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&amp" rel="stylesheet" type="text/css">-->
		  <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800&display=swap" rel="stylesheet" type="text/css">

</head>
<body>

	

<!-- Site Loader -->
<div class="site-loader"><img src="../img/loader.gif" alt="Loading"></div>
<!-- Site Loader End -->

<!-- Site Back Top -->
<div class="site-back-top" title="Back to top">
	<i class="fa fa-angle-up"></i>
</div>
<!-- Site Back Top End -->

<!-- Site Navigation -->
<div class="site-nav" style="position:fixed;"></div>
<!-- Site Navigation End -->

<!-- Site Container -->
<div id="site-container" class="site-fullscreen site-sticky" style= "margin : 2%;">
	<!-- Header -->
	
	<!-- Header End -->

		<!-- About -->
		<div class="box-white" style="background-color: #c4fffb">
			<!-- <div class="padding-all"> -->
		<img src="../img/try2.png" style="height:103.36px; width:auto; padding-left: 6%;">
		<h3 style="color:rgb(107, 2, 2); padding-left: 3%;">PETRICHOR 2020</h3>
		<!-- <div class="space"></div> -->
			<div class="wrapper padding-all">
				<!-- Section Content -->
				<div class="row margin-none">
					<div class="col-md-6 col-sm-12 padding-none padding-right-40">
					<!-- <img src="../img/Blockchain-1.jpg" alt="Eloquence" class="img-full"> -->
					<div class="img__wrap">
						<img class="img__img img-full" src="../img/event/ar1.png" />
						<!-- <p class="img__description">This image looks super neat.</p> -->
					  </div>

					</div>
					<div class="col-md-6 col-sm-12 padding-none">
						<!-- About Content -->
						<div class="section-header inline">
							<h2>AUGMENTED AND VIRTUAL REALITY</h2>
							<!--<h3>“Don’t start a fight if you can’t end it”- One Piece</h3>-->
						</div>

						<p class="justify"> Augmented reality is said to be an enhanced version of reality created by the use of technology to add digital information on an image of something whereas Virtual Reality is the use of computer technology to create a simulated environment. Ever thought about working on both together? Imagine how you can make your vision a reality. Let’s join in to make that happen with Petrichor on this 18th and 19th January, 2020.
 </p>


					</div></div>
				</div>
				<!-- Section Content -->
				<div  class="space"></div>

				<p><h2><b>Topics under Virtual Reality :</b></h2></p>
				<p>&#10148 Introduction to Virtual Reality
</p>
				<p>&#10148 Geometry in Virtual Reality
</p>
				<p>&#10148 Imaging Properties of lenses</p>
				<p>&#10148 Visual Physiology and Perception</p>
				<p>&#10148 Orientation Tracking System</p>
				<p>&#10148 Visual Rendering</p>



				<br>

				<p><h2><b>Topics under Augmented Reality :</b></h2></p>
				<p>&#10148 Introduction to Augmented Reality
</p>
				<p>&#10148 2D Image Recognition and Tracking
</p>
				<p>&#10148 Augmented Reality Drawing</p>
				<p>&#10148 Augmented Reality with Geolocation</p>
				<p>&#10148 Physics in Augmented Reality</p>

				<br>

				<p><h2><b>Objectives of the Workshop :</b></h2></p>
				<p>&#10148 The workshop aims to create an idea on 
ever-advancing technologies like Augmented Reality (AR) and Virtual 
Reality (VR) and how it is making a huge difference in various sectors 
such as education, shopping, games, real estate, medical, simulation and
 more.
</p>
				<p>&#10148 Focuses mainly on why students are able to understand 
the topic more efficiently that gives them a better understanding on how
 it may work in the real environment when presented via augmented 
technology.
</p>
				<p>&#10148 Augmented reality is the mixture of virtual 
reality with real life, using layers of computer generation to enable us
 an enhanced interaction with reality. This is usually done through 
apps, but can also be used for sporting events, driving, and much more.</p>
				<p>&#10148 Virtual reality, on the other hand, is a completely artificial, 
computer-generated simulation of a real-life experience. This typically 
required the use of a virtual reality headset, such as Oculus Rift or 
HTC Vive, in order to fully immerse the user</p>
				<p>&#10148 Augmented reality
 application is written in special programming language that allow the 
developer to integrated animation as well as digital information in the 
computer program. Gives students an idea of about how the VR/AR projects
 are developed.</p>

				<p>&#10148 Improve business performance through AR/VR. 
Augmented reality in e-commerce soon will revolt way we shop in the web.
 The growth of consumers’ demands an evolution of mobile devices and 
market capabilities lead to strong trends that make AR one of the major 
tools and platforms in the tech world.</p>


				<br>




				
				
				<p><h2><b>Details of the Workshop :</b></h2></p>
				<p>&#10148 <b>Venue: </b><a href="https://goo.gl/maps/4ixirsq1dSgDwyDK6"><span style="color: blue;">IIT Palakkad, Transit Campus</a></span></p>
				<p>&#10148 <b>Time: </b>9:00 AM to 05:30 PM</p>
				<p>&#10148 <b>Date: </b>18th & 19th January'20 (Saturday & Sunday)</p>
				<p>&#10148 <b>Workshop Fees: </b>Rs 1100/- (including GST)</p>
				<p>&#10148 <b>Accomodation: </b><a href="https://www.thecollegefever.com/events/petrichor20#openticket"><span style="color:blue;">Available Here</a></span></p>
				<p>&#10148 <b>System Requirements: </b>Laptop with recent version of web browser (preferably with google chrome)</p>

				
				<!-- <p>&#10148 <b>Workshop Fees: </b><ul><li>&nbsp &nbsp &#8226 Rs 1280/- (including GST) before 12th August'19</li>
												 <li>  &nbsp &nbsp &#8226 Rs 1380/- (inclunding GST) after 12th August'19</li></ul></p> -->
				<!-- <p>&#10148 <b>Discount: </b>On registering using campus ambassdor's referral code, you can avail 5% off. The money will be refunded on the day of Workshop. </p>
				<p>&#10148 <b>Accomodation: </b>Limited accomodation is available at a price of Rs 300 - Rs 350. It will be given on first-come first-served basis. It will be available in hotels nearby IIT Palakkad Campus.</p>
				<p>&#10148 <b>Food Facilities: </b>Food will be served on paid basis at a price - Rs 150</p> -->
				<!-- <p>&#10148 <b>Workshop Fees: </b>Rs 1380/- (including GST) after 12th August'19</p> -->
				
				<br>


										<!-- </div>		 -->
						
						
						
						
						<div class="col-md-6 col-sm-12 padding-none "style="font-size:14px; text-align:center;">
							<p><b>FOR QUERIES, CONTACT</b>:<br/>
								<b>Mr. Jayprakash</b>: +91-9494139048<br/>
<!-- <b>Email Id </b>: <a href="mailto: ratika.entrench@gmail.com">ratika.entrench@gmail.com</a></p> -->
<!-- <b>Muskaan Maheshwari</b>: +91 9079838450<br/>
<b>Email Id </b>: <a href="mailto: 121701014@smail.iitpkd.ac.in">121701014@smail.iitpkd.ac.in</a></p> -->
<b>Mr. Harikrishnan</b>: +91 9400660931<br/>
<!-- <b>Email Id </b>: <a href="mailto: 111701003@smail.iitpkd.ac.in">111701003@smail.iitpkd.ac.in</a></p> -->

						<!-- About Content End -->
					</div>
					</span>
				

				<div class="space"></div>

<div class="container blog-holder"><div class="rows"><div class="col-md-12  posts-holder ">
<section id="wrap-content" class="blog-2col-grid"><div class="row">
	<!-- pre and next -->
									<style>
										.prenxt{
	display: center;
	margin: 0px auto;
	padding: 5px 20px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	background: none;
	border: 2px solid #3398cc;
	-webkit-box-border-radius: 0px;
	-moz-box-border-radius: 0px;
	border-radius: 0px;
	outline: none;
	cursor: pointer;
	position: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}



									</style>
									
									<ul style="text-align:center;">
					<li class="btn" >
									<button class="prenxt" style="font-family:Raleway; text-align:center;"><a  href="https://www.thecollegefever.com/events/petrichor20#openticket" target="blank">REGISTER HERE</a></button></li>
				</ul>

				<div class="space"></div>
				<h3 class="link" style="text-align: center;"><u><a href="https://www.petrichor-iitpkd.com/cap"><span style="color: blue;">Want to Become Campus Ambassdor for Petrichor 2020</a></span></u></h3>

</section></div><div class="col-md-3"></div></div></div>
				<div class="space"></div>

			</div>
		</div>
	<!-- About End -->

	<!-- Footer -->
	
	<!-- Footer End -->

	


		<script type='text/javascript'>var elementorFrontendConfig = {"isEditMode":"","is_rtl":"","urls":{"assets":"https:\/\/matchthemes.com\/demowp\/caverta\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"general":{"elementor_global_image_lightbox":"yes","elementor_enable_lightbox_in_editor":"yes"}},"post":{"id":824,"title":"Header 2","excerpt":""}};</script>

</div>
<!-- Site Container End -->

<!-- ./scripts -->
<script src="../scripts/jquery.min.js"></script>
<script src="../scripts/bootstrap.js"></script>
<script src="../scripts/owl.carousel.js"></script>
<script src="../scripts/jquery.bxslider.js"></script>
<script src="../scripts/jquery.matchHeight.js"></script>
<script src="../scripts/jquery.prettyPhoto.js"></script>
<script src="../scripts/jquery.countTo.js"></script>
<script src="../scripts/jquery.stellar.js"></script>
<script src="../scripts/jquery.fitvids.js"></script>
<script src="../scripts/imagesloaded.pkgd.js"></script>
<script src="../scripts/masonry.pkgd.js"></script>
<script src="../scripts/slider.js"></script>

<!-- Map ./scripts -->


<!-- Custom ./scripts -->
<script src="../scripts/scripts.js"></script>
</body>
</html>

