
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>User Profile</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="../stylesheets/animate.min.css" rel="stylesheet"/>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--  Light Bootstrap Table core CSS    -->
    <link href="../stylesheets/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../stylesheets/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body style="background:#d7e0e0">

<!--<div class="wrapper">-->
<!--    <div class="sidebar" data-color="blue">-->


<!--    	<div class="sidebar-wrapper">-->
<!--            <div class="logo">-->
<!--                <a href="" class="simple-text">-->
<!--                    <img src="https://raw.githubusercontent.com/RathoreDevansh08/FestWeb_CA-Portal/master/Petrichor-white.png" alt="Petrichor" style="padding-bottom:5px;width:100px;height:29px;border:0;">-->
<!--                </a>-->
<!--            </div>-->

<!--            <ul class="nav">-->
<!--                <li>-->
<!--                    <a href="/account">-->
<!--                        <i class="pe-7s-graph"></i>-->
<!--                        <p>Dashboard</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="active">-->
<!--                    <a href="/account/profile">-->
<!--                        <i class="pe-7s-user"></i>-->
<!--                        <p>Profile</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/account/registrations">-->
<!--                        <i class="pe-7s-bell"></i>-->
<!--                        <p>Registrations</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--    	</div>-->
<!--    </div>-->

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">User</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                
								<p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-sm hidden-xs"></b>
                                    <% if(user.notifications.length != 0) { %>
                                    <span class="notification hidden-sm hidden-xs"><%= user.notifications.length %></span>
                                    <% } %>
									<p class="hidden-lg hidden-md">
										<%= user.notifications.length %> Notifications
										<b class="caret"></b>
									</p>
									
                              </a>
                              <ul class="dropdown-menu">
                                 <% if(user.notifications.length != 0) { %>
                                <% for (var i=0; i < user.notifications.length; i++) { %>
                                <div class="card">
                                    <li style="padding-left:3%;"><%= user.notifications[i] %></li>
                                    </div>
                                <% } %>
                                <% } else { %>
                                    <li style="color: grey; margin-left:1%;">No recent notification</li>
                                <% } %>
                              </ul>
                        </li>
                    </ul>
				<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/logout">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form action="/updateProfile" method="POST">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>College</label>
                                       <input type="text" name="college_name" class="form-control" placeholder= "College Name" value = "<%= user.college_name %>">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" name="username" class="form-control" placeholder="Username" value = "<%= user.username %>" >
                                                <h6 style="color:red; margin-top:3%;"><%= message %></h6>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input readonly type="email" name="email" class="form-control"  placeholder="Email" value="<%= user.email %>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" name="name" class="form-control" placeholder="Full Name" value="<%= user.name %>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Current Postal Address</label>
                                                <input type="text" name="address" class="form-control" placeholder="Current Postal Address" value="<%= user.address %>">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Phone Number</label>
                                                <input type="text" name="phoneNumber" class="form-control" placeholder="Mobile Number" value="<%= user.phoneNumber %>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" name="city" class="form-control" placeholder="City" value="<%= user.city %>">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>State</label>
                                                <input type="text" name="country" class="form-control" placeholder="State" value="<%= user.country %>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea name="aboutMe" rows="5" class="form-control" placeholder="Tell Something about you" value=""><%= user.aboutMe %></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
</body>

    <!--   Core JS Files   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="../scripts/bootstrap.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="../scripts/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="../scripts/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="../scripts/light-bootstrap-dashboard.js?v=1.4.0"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="../scripts/demo.js"></script>

</html>
