
<!DOCTYPE html>
<html lang="en">

<head>
    <title>GUEST</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81222017-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-81222017-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->


    <style>

        @font-face {
            font-family: "GandhiSans";
            src: url("fonts/GandhiSans-Bold.otf");
        }
        @font-face {
        font-family: Potra;
        src: url(fonts/Potra.ttf);
          }  
        .He{
            font-family: Potra;
            text-shadow: 2px 2px #111111;
        }


        body {
          background-color: #242424;
        }
    
        .row{
            text-align: center;
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }

        .about{
            /*text-decoration-color: white;*/
            font-family: Potra;
            text-align: center;
            color: white;
            font-size: 20px;
            padding-left: 5%;
            padding-right: 5%;
        }

        h3{
            text-align: center;
            color: white;
        }
        h2{
            text-align: center;
            color: white;
        }
        img{
            max-width: 100vw;
        }
        .profile_image{
            text-align: center;
        }
    </style>
</head>

<body>

<div class="row">
    <br>
    <font color="#8f1414" size="66px"><span style="font-weight: 2000; font-size: 80px;"><b>GUEST LECTURE</b></span></font>


<div class="row">
    <br><br><br>
    <div class="profile_image">
        <!-- <a href="https://www.geekstack.co.in"> -->
            <img src="img/usha.jpeg" style="height: 300px; width: auto">
    <h2><b>Dr.(Ms.) Usha Titus</b></h2><br><br>
            
            <div class="about">
                Ms. Usha Titus IAS (Kerala 1993) presently posted as Secretary, General Education Department, Government of Kerala has been appointed as Principal Secretary Government of Kerala. Ms. Titus has been Joint Secretary of Department of Economic Affairs since December 10, 2012. She serves as Director of Department of Economic Affairs.
            </div>
        <!-- </a> -->
    </div>
</div>
<br>


<br>



</body>
</html>
