<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>
<head>
	<title>Number</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="stylesheets/forgot.css">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Number</h3>
			</div>
			<div class="card-body">
							<form action="/number" method="POST">
								<div class="input-group form-group">
									<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
									</div>
						<input type="text" name="referral" class="form-control" placeholder="Enter the referral code">
						<input type="text" name="number" class="form-control" placeholder="Enter the number of registrations till now">
					</div>
					</div>
						
					</div>
					<div class="form-group">
						<input type="submit" value="add" class="btn float-right login_btn">
						<% if(success==true) { %>
						<h6 style="color:red;">Successfully updated</h6>
						<%} %>
					</div>
				</form>
			</div>
			<!-- <div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="/signup">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="/login">Login</a>
				</div>
			</div> -->
		</div>
	</div>
</div>
</body>
</html>