<!DOCTYPE html>
<html>
<head>
	<title>
	    CA List
	</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
	<body>

		<div class="row">
			<div class="col-sm-3 col-md-3 col-lg-3">
				Name
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				W_points
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				Points
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				Referral Id
			</div>
		</div>

		<% for(var i=0; i < users.length; i++){ %>
		<div class="row">
			<div class="col-sm-3 col-md-3 col-lg-3">
				<%= users[i].name %>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				<%= users[i].points %>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				<%= users[i].new_points %>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				<%= users[i].registerToken %>
			</div>
		</div>
		<% } %>


	</body>
</html>