<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ProShows</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/proshow/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="stylesheets/proshow/fontawesome-all.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="stylesheets/proshow/swiper.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="stylesheets/proshow/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script data-main="js/app" src="scripts/BackAnim.js"></script>

</head>

<body>


    <div class="hero-content">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-lg-2 col-lg-10">
                    <div class="entry-header">
                        <h2>ProShows</h2>

                        <div class="entry-meta-date">
                            18.1.20 & 19.1.20 
                        </div><!-- .entry-meta-date -->
                    </div><!-- .entry-header -->

                </div><!-- .col-12 -->
            </div><!-- row -->

            <div class="row">
                <div class="col-12 ">
                    <div class="entry-footer">
                        <a href="https://www.thecollegefever.com/events/petrichor20#openticket" class="btn">Buy Tickets</a>
                       <!-- <a href="#" class="btn current">See Lineup</a>-->
                    </div>
                </div>
            </div>
        </div><!-- .container -->
    </div><!-- .hero-content -->

    <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="lineup-artists-headline">
                        <div class="entry-title">
                            <!-- <p>JUST THE BEST</p> -->
                            <h2>Performers of the Evening</h2>
                        </div><!-- entry-title -->

                        <div class="lineup-artists">
                            <div class="lineup-artists-wrap flex flex-wrap">
                                <figure class="featured-image">
                                    <a href="https://www.thecollegefever.com/events/petrichor20#openticket"> <img src="img/proshow/black-chick.jpg" alt=""> </a>
                                </figure><!-- featured-image -->

                                <div class="lineup-artists-description">
                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            DJ Tejas (18.01.2020)
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p>DJ Tejas is a music-machine: you name it and he produces it out of his “potali DJki” – bollywood, pop, house, psy-chill, lounge, asian underground and what not…
                                            <br>His music becomes food for both heart and soul.
                                            <br>

                                        </p>
                                        </div><!-- entry-content -->

                                        <div class="box-link">
                                            <!-- <a href=""><img src="images/box.jpg" alt=""></a> -->
                                        </div><!-- box-link -->
                                    </div><!-- lineup-artists-description-container -->
                                </div><!-- lineup-artists-description -->
                            </div><!-- lineup-artists-wrap -->

                            <div class="lineup-artists-wrap flex flex-wrap">
                                <div class="lineup-artists-description">
                                    <figure class="featured-image d-md-none">
                                        <a href="https://www.thecollegefever.com/events/petrichor20#openticket"> <img src="img/proshow/mathew-kane.jpg" alt=""> </a>
                                    </figure><!-- featured-image -->

                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            Lagori (19.01.2020)
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p>We make music that reflects the face of the modern Indian youth, by combining Indian classical melodies and inflections with Rock music, resulting in an interesting mix that is high on energy, while being catchy and soulful at the same time.
We truly hope our music takes you on a euphoric ride, and you enjoy our Lagori universe ! </p>
                                        </div><!-- entry-content -->

                                        <div class="box-link">
                                            <!-- <a href="#"><img src="images/box.jpg" alt=""></a> -->
                                        </div><!-- box-link -->
                                    </div><!-- lineup-artists-description-container -->
                                </div><!-- lineup-artists-description -->

                                <figure class="featured-image d-none d-md-block">
                                    <a href="https://www.thecollegefever.com/events/petrichor20#openticket"> <img src="img/proshow/mathew-kane.jpg" alt=""> </a>
                                </figure><!-- featured-image -->
                            </div><!-- lineup-artists-wrap -->
                        </div><!-- lineup-artists -->
                    </div><!-- lineup-artists-headline -->
                </div><!-- col-12 -->
            </div><!-- row -->

            <div class="row">
                <div class="col-12">
                    <div class="the-complete-lineup">
     
                  
                    </div><!-- the-complete-lineup -->
                </div><!-- col-12 -->
            </div><!-- row -->
        </div><!-- container -->

        <!-- homepage-next-events -->

        <div class="home-page-last-news">
            <div class="container">
                <div class="header">
                    <div class="entry-title">
                        <!-- <p>JUST THE BEST</p> -->
                        <h2>Entry Fee</h2>
                    </div><!-- entry-title -->
                </div><!-- header -->

                <div class="home-page-last-news-wrap">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <figure class="featured-image">
                                <a href="https://www.thecollegefever.com/events/petrichor20#openticket"> <img src="img/proshow/news-image-1.jpg" alt="fesival+celebration"> </a>
                            </figure><!-- featured-image -->

                            <div class="box-link-date">
                                <a href="https://www.thecollegefever.com/events/petrichor20#openticket">18.01.20</a>
                            </div>

                            <div class="content-wrapper">
                                <div class="entry-content">
                                    <div class="entry-header">
                                        <h2><a href="https://www.thecollegefever.com/events/petrichor20#openticket">Entry Fee-DJ Tejas</a></h2>
                                    </div><!-- entry-header -->

                                    <!-- <div class="entry-meta">
                                        <span class="author-name"><a href="#"> </a></span>
                                        <span class="space"> </span>
                                        <span class="comments-count"><a href="#"></a></span>
                                    </div> --><!-- entry-meta -->

                                    <div class="entry-description">
                                        <p>
                                        	Per Person: INR 300/-
                                        	<br>50% Cashback exclusively for Participants
                                        	<br>For Queries
                                        	<br>Contact:
                                        	<br> Omkar - 8692028636
                                        	<br> Yaseen - 9497745691
                                        	<br> Arjun - 8078445844
                                        </p>
                                    </div><!-- entry-description -->
                                </div><!-- entry-content -->
                            </div><!-- content-wrapper -->
                        </div><!-- .col-6 -->

                        <div class="col-12 col-md-6">
                            <figure class="featured-image">
                                <a href="https://www.thecollegefever.com/events/petrichor20#openticket"> <img src="img/proshow/blog-image-2.jpg" alt="fesival+celebration"> </a>
                            </figure><!-- featured-image -->

                            <div class="box-link-date">
                                <a href="https://www.thecollegefever.com/events/petrichor20#openticket">19.01.20</a>
                            </div>

                            <div class="content-wrapper">
                                <div class="entry-content">
                                    <div class="entry-header">
                                        <h2><a href="https://www.thecollegefever.com/events/petrichor20#openticket">Entry Fee-Lagori</a></h2>
                                    </div><!-- entry-header -->

                                    <!-- <div class="entry-meta">
                                        <span class="author-name"><a href="#">By James Williams</a></span>
                                        <span class="space">|</span>
                                        <span class="comments-count"><a href="#">3 comments</a></span>
                                    </div> --><!-- entry-meta -->

                                    <div class="entry-description">
                                        <p>
                                        	Per Person: INR 450/-
                                        	<br>50% Cashback exclusively for Participants
                                        	<br>For Queries
                                        	<br>Contact:
                                        	<br> Omkar - 8692028636
                                        	<br> Yaseen - 9497745691
                                        	<br> Arjun - 8078445844
                                        </p>
                                    </div><!-- entry-description -->
                                </div><!-- entry-content -->
                            </div><!-- .content-wrapper -->
                        </div><!-- col-6 -->
                    </div><!-- row -->
                </div><!-- home-page-last-news-wrap -->
            </div><!-- container -->
        </div><!-- home-page-last-news -->
    </div>



    <script type='text/javascript' src='scripts/proshow/jquery.js'></script>
    <script type='text/javascript' src='scripts/proshow/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='scripts/proshow/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='scripts/proshow/swiper.min.js'></script>
    <script type='text/javascript' src='scripts/proshow/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='scripts/proshow/circle-progress.min.js'></script>
    <script type='text/javascript' src='scripts/proshow/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='scripts/proshow/custom.js'></script>
</body>
</html>
