<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Registrations</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet" />
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Animation library for notifications   -->
    <link href="../stylesheets/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="../stylesheets/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../stylesheets/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body style="background:#d7e0e0">

<div class="wrapper">
    <div class="sidebar" data-color="blue">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    <img src="https://raw.githubusercontent.com/RathoreDevansh08/FestWeb_CA-Portal/master/Petrichor-white.png" alt="Petrichor" style="padding-bottom:5px;width:100px;height:29px;border:0;">
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/account">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/account/profile">
                        <i class="pe-7s-user"></i>
                        <p>Profile</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/account/registrations">
                        <i class="pe-7s-bell"></i>
                        <p>Registrations</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Registrations</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                
								<p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-sm hidden-xs"></b>
                                    <% if(user.notifications.length != 0) { %>
                                    <span class="notification hidden-sm hidden-xs"><%= user.notifications.length %></span>
                                    <% } %>
									<p class="hidden-lg hidden-md">
										<%= user.notifications.length %> Notifications
										<b class="caret"></b>
									</p>
									
                              </a>
                              <ul class="dropdown-menu">
                                 <% if(user.notifications.length != 0) { %>
                                <% for (var i=0; i < user.notifications.length; i++) { %>
                                <div class="card">
                                    <li style="padding-left:3%;"><%= user.notifications[i] %></li>
                                    </div>
                                <% } %>
                                <% } else { %>
                                    <li style="color: grey; margin-left:1%;">No recent notification</li>
                                <% } %>
                              </ul>
                        </li>
                    </ul>
				<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/logout">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <!--<div class="card">-->
                    <div class="header">
                        <h4 class="title">Registrations made by you</h4>
                    </div>
<!--                    <div class="content">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-6">-->
<!--                                <h5>Notifications Style</h5>-->
<!--                                <div class="alert alert-info">-->
<!--                                    <span>This is a plain notification</span>-->
<!--                                </div>-->
<!--                                <div class="alert alert-info">-->
<!--                                    <button type="button" aria-hidden="true" class="close">×</button>-->
<!--                                    <span>This is a notification with close button.</span>-->
<!--                                </div>-->
<!--                                <div class="alert alert-info alert-with-icon" data-notify="container">-->
<!--                                    <button type="button" aria-hidden="true" class="close">×</button>-->
<!--                                    <span data-notify="icon" class="pe-7s-bell"></span>-->
<!--                                    <span data-notify="message">This is a notification with close button and icon.</span>-->
<!--                                </div>-->
<!--                                <div class="alert alert-info alert-with-icon" data-notify="container">-->
<!--                                    <button type="button" aria-hidden="true" class="close">×</button>-->
<!--                                    <span data-notify="icon" class="pe-7s-bell"></span>-->
<!--                                    <span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <h5>Notification states</h5>-->
<!--                                <div class="alert alert-info">-->
<!--                                    <button type="button" aria-hidden="true" class="close">×</button>-->
<!--                                    <span><b> Info - </b> This is a regular notification made with ".alert-info"</span>-->
<!--                                </div>-->
<!--                                <div class="alert alert-success">-->
<!--                                    <button type="button" aria-hidden="true" class="close">×</button>-->
<!--                                    <span><b> Success - </b> This is a regular notification made with ".alert-success"</span>-->
<!--                                </div>-->
<!--                                <div class="alert alert-warning">-->
<!--                                    <button type="button" aria-hidden="true" class="close">×</button>-->
<!--                                    <span><b> Warning - </b> This is a regular notification made with ".alert-warning"</span>-->
<!--                                </div>-->
<!--                                <div class="alert alert-danger">-->
<!--                                    <button type="button" aria-hidden="true" class="close">×</button>-->
<!--                                    <span><b> Danger - </b> This is a regular notification made with ".alert-danger"</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <div class="places-buttons">-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-6 col-md-offset-3 text-center">-->
<!--                                    <h5>Notifications Places-->
<!--                                        <p class="category">Click to view notifications</p>-->
<!--                                    </h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-2 col-md-offset-3">-->
<!--                                    <button class="btn btn-default btn-block" onclick="demo.showNotification('top','left')">Top Left</button>-->
<!--                                </div>-->
<!--                                <div class="col-md-2">-->
<!--                                    <button class="btn btn-default btn-block" onclick="demo.showNotification('top','center')">Top Center</button>-->
<!--                                </div>-->
<!--                                <div class="col-md-2">-->
<!--                                    <button class="btn btn-default btn-block" onclick="demo.showNotification('top','right')">Top Right</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-2 col-md-offset-3">-->
<!--                                    <button class="btn btn-default btn-block" onclick="demo.showNotification('bottom','left')">Bottom Left</button>-->
<!--                                </div>-->
<!--                                <div class="col-md-2">-->
<!--                                    <button class="btn btn-default btn-block" onclick="demo.showNotification('bottom','center')">Bottom Center</button>-->
<!--                                </div>-->
<!--                                <div class="col-md-2">-->
<!--                                    <button class="btn btn-default btn-block" onclick="demo.showNotification('bottom','right')">Bottom Right</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--        <footer class="footer">-->
<!--            <div class="container-fluid">-->
<!--                <nav class="pull-left">-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                Home-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                Company-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                Portfolio-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                               Blog-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--                <p class="copyright pull-right">-->
<!--                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="">IIT Palakkad</a>-->
<!--                </p>-->
<!--            </div>-->
<!--        </footer>-->

    </div>
<!--</div>-->
</div>
</div>
</div>



</body>

        <!--   Core JS Files   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="../scripts/bootstrap.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="../scripts/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="../scripts/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="../scripts/light-bootstrap-dashboard.js?v=1.4.0"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="../scripts/demo.js"></script>

</html>
