<!DOCTYPE html>
<html lang="en-US">
<head>

<!-- Basic Page Head -->

<title>Robotics</title>

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Favicons -->
<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
<link rel="apple-touch-icon" href="../img/apple-touch-icon.png">


<!-- Css -->
<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/owl.theme.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/style1.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/responsive.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">


<!-- Google Fonts -->
<!--<link href="fonts.googleapis.com/cssf7a2.css?family=Roboto:200,300,400,500,600,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
<!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">-->
<!--<link rel="stylesheet" type="text/css"
          href="style.css"/>-->
		  <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&amp" rel="stylesheet" type="text/css">-->
		  <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800&display=swap" rel="stylesheet" type="text/css">

</head>
<body>

	

<!-- Site Loader -->
<div class="site-loader"><img src="../img/loader.gif" alt="Loading"></div>
<!-- Site Loader End -->

<!-- Site Back Top -->
<div class="site-back-top" title="Back to top">
	<i class="fa fa-angle-up"></i>
</div>
<!-- Site Back Top End -->

<!-- Site Navigation -->
<div class="site-nav" style="position:fixed;"></div>
<!-- Site Navigation End -->

<!-- Site Container -->
<div id="site-container" class="site-fullscreen site-sticky" style= "margin : 2%;">
	<!-- Header -->
	
	<!-- Header End -->

		<!-- About -->
		<div class="box-white" style="background-color: #c4fffb">
			<!-- <div class="padding-all"> -->
		<img src="../img/try2.png" style="height:103.36px; width:auto; padding-left: 6%;">
		<h3 style="color:rgb(107, 2, 2); padding-left: 3%;">PETRICHOR 2020</h3>
		<!-- <div class="space"></div> -->
			<div class="wrapper padding-all">
				<!-- Section Content -->
				<div class="row margin-none">
					<div class="col-md-6 col-sm-12 padding-none padding-right-40">
					<img src="../img/event/robotics2.jpeg" alt="Eloquence" class="img-full">

					</div>
					<div class="col-md-6 col-sm-12 padding-none">
						<!-- About Content -->
						<div class="section-header inline">
							<h1>Robotics</h1>
							<!--<h3>“Don’t start a fight if you can’t end it”- One Piece</h3>-->
						</div>

						<p class="justify">The field of Robotics has been existing for many years now and still getting enhanced each and everyday. Would you like to be part of this evolution? Do you understand the need of Robots in next 50 years. If so, then what are you waiting for? Join hands with Petrichor 2020 to make a change. See you on 24th & 25th Aug'19 to get a hands-on experience on Robotics!

							Robotics deals with the design, construction, operation, and use of robots, as well as computer systems for their control, sensory feedback, and information processing. These technologies are used to develop machines that can substitute for humans and replicate human actions.</p>

<!--<p> <b>Rules for the competition</b>: COMING SOON</p>-->
						<!--<div class="col-md-6 col-sm-12 padding-none" style="font-size:14px";><b>PRIZES <br /></b>
<b>Winner</b>: 3,000 INR and worth more. <br>
<b>Runner Up</b> : 2,000 INR and worth more. 
										</div>		
						
						
						
						
						<div class="col-md-6 col-sm-12 padding-none"style="font-size:14px";>
							<p><b>FOR QUERIES, CONTACT</b>:<br />
<b>Shivam Rana </b>: +91 81283 01067<br />
<b>Email Id </b>: <a href="mailto:shivrana.paramarsh@gmail.com">inquiry@msu-paramarsh.org</a></p>
						About Content End 
					</div>--></div>
				</div>
				<!-- Section Content -->
				<div  class="space"></div>

				<p><h2><b>Objectives of the Workshop :</b></h2></p>
				<p>&#10148 Differential and Non-Differential Line Follower Robot</p>
				<p>&#10148 RC Based Communication Robot</p>
				<p>&#10148 Table Top Robot </p>
				<p>&#10148 Introduction to different sensors</p>
				<br>
				
				
				<p><h2><b>Details of the Workshop :</b></h2></p>
				<p>&#10148 <b>Venue: </b><a href="https://goo.gl/maps/4ixirsq1dSgDwyDK6"><span style="color: blue;">IIT Palakkad, Transit Campus</a></span></p>
				<p>&#10148 <b>Time: </b>9:00 AM to 05:30 PM</p>
				<p>&#10148 <b>Date: </b>24th & 25th August'19 (Saturday & Sunday)</p>
				<p>&#10148 <b>Workshop Fees: </b><ul><li>&nbsp &nbsp &#8226 Rs 1280/- (including GST) before 12th August'19</li>
												 <li>  &nbsp &nbsp &#8226 Rs 1380/- (inclunding GST) after 12th August'19</li></ul></p>
				<p>&#10148 <b>Discount: </b>On registering using campus ambassdor's referral code, you can avail 5% off. The money will be refunded on the day of Workshop. </p>
				<p>&#10148 <b>Accomodation: </b>Limited accomodation is available at a price of Rs 300 - Rs 350. It will be given on first-come first-served basis. It will be available in hotels nearby IIT Palakkad Campus.</p>
				<p>&#10148 <b>Food Facilities: </b>Food will be served on paid basis at a price - Rs 150</p>	
				<!-- <p>&#10148 <b>Workshop Fees: </b>Rs 1380/- (including GST) after 12th August'19</p> -->
				
				<br>
<!-- 
				<p><h2><b>Accomodation :</b></h2></p>
				<p>&#10148 <b>Venue: </b>Indian Institute of Technology, Palakkad</p>
				<p>&#10148 <b>Time: </b>9:00 AM to 05:30 PM</p>
				<p>&#10148 <b>Date: </b>24th & 25th August'19 (Saturday & Sunday)</p>
				<p>&#10148 <b>Workshop Fees: </b>Rs 1280/- (including GST) before 12th August'19</p>
				<p>&#10148 <b>Workshop Fees: </b>Rs 1380/- (including GST) after 12th August'19</p> -->
				



				<!---<p>&#10148 </p>
				<p>&#10148 I also love Nidhi</p>
				<b><p>&#10148 I want to open a startup.<br/>
				&#10148 Nidhi will be receptionist there.<br/>
				&#10148 Purav will be the sponsor.<br/>
				&#10148 I will settle in australia.</p></b>-->
<!-- 				
				<div class="space"></div>
				<span style="text-align:center;">
				<div class="col-md-6 col-sm-12 padding-none" style="font-size:14px";><p><b>Accomodation </b>:<br/>
<b>Hello</b> Himanshu <br/> -->

										</div>		
						
						
						
						
						<div class="col-md-6 col-sm-12 padding-none "style="font-size:14px; text-align:center;">
							<p><b>FOR QUERIES, CONTACT</b>:<br/>
<b>Muskaan Maheshwari</b>: +91 9079838450<br/>
<b>Email Id </b>: <a href="mailto: 121701014@smail.iitpkd.ac.in">121701014@smail.iitpkd.ac.in</a></p>
<b>Akash Nayak</b>: +91 7898602223<br/>
<b>Email Id </b>: <a href="mailto: 111701003@smail.iitpkd.ac.in">111701003@smail.iitpkd.ac.in</a></p>
						<!-- About Content End -->
					</div>
					</span>
				

				<div class="space"></div>

<div class="container blog-holder"><div class="rows"><div class="col-md-12  posts-holder ">
<section id="wrap-content" class="blog-2col-grid"><div class="row">
	<!-- pre and next -->
									<style>
										.prenxt{
	display: center;
	margin: 0px auto;
	padding: 5px 20px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	background: none;
	border: 2px solid #3398cc;
	-webkit-box-border-radius: 0px;
	-moz-box-border-radius: 0px;
	border-radius: 0px;
	outline: none;
	cursor: pointer;
	position: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}



									</style>
									
									<ul style="text-align:center;">
					<li class="btn" >
									<button class="prenxt" style="font-family:Raleway; text-align:center;"><a  href="https://bit.ly/RoboticsWorkshopPetrichor2020" target="blank">REGISTER HERE</a></button></li>
				</ul>

				<div class="space"></div>
				<h3 class="link" style="text-align: center;"><u><a href="https://www.petrichor-iitpkd.com/cap"><span style="color: blue;">Want to Become Campus Ambassdor for Petrichor 2020</a></span></u></h3>

</section></div><div class="col-md-3"></div></div></div>
				<div class="space"></div>

			</div>
		</div>
	<!-- About End -->

	<!-- Footer -->
	
	<!-- Footer End -->

	


		<script type='text/javascript'>var elementorFrontendConfig = {"isEditMode":"","is_rtl":"","urls":{"assets":"https:\/\/matchthemes.com\/demowp\/caverta\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"general":{"elementor_global_image_lightbox":"yes","elementor_enable_lightbox_in_editor":"yes"}},"post":{"id":824,"title":"Header 2","excerpt":""}};</script>

</div>
<!-- Site Container End -->

<!-- ./scripts -->
<script src="../scripts/jquery.min.js"></script>
<script src="../scripts/bootstrap.js"></script>
<script src="../scripts/owl.carousel.js"></script>
<script src="../scripts/jquery.bxslider.js"></script>
<script src="../scripts/jquery.matchHeight.js"></script>
<script src="../scripts/jquery.prettyPhoto.js"></script>
<script src="../scripts/jquery.countTo.js"></script>
<script src="../scripts/jquery.stellar.js"></script>
<script src="../scripts/jquery.fitvids.js"></script>
<script src="../scripts/imagesloaded.pkgd.js"></script>
<script src="../scripts/masonry.pkgd.js"></script>
<script src="../scripts/slider.js"></script>

<!-- Map ./scripts -->


<!-- Custom ./scripts -->
<script src="../scripts/scripts.js"></script>
</body>
</html>

