<!DOCTYPE html>
<html lang="en-US">
<head>

<!-- Basic Page Head -->
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
<title>Petrichor-Workshops</title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="College, Event, IIT, Palakkad, IIT Palakkad,Petrichor, Workshops, IITPKD">

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->

<link rel="icon" href="../img/favicon.png" sizes="16x16" type="image/png">
<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
<link rel="apple-touch-icon" href="../img/favicon.png">

<!-- Css -->
<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/owl.theme.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/style1.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/style2.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/responsive.css">



		 <link href="https://fonts.googleapis.com/css?family=Lobster&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

</head>
<body>

<!-- Site Loader -->
<div class="site-loader"><img src="../img/loader.gif" alt="Loading"></div>
<!-- Site Loader End -->

<!-- Site Back Top -->
<div class="site-back-top" title="Back to top">
	<i class="fa fa-angle-up"></i>
</div>
<!-- Site Back Top End -->

<!-- Site Navigation -->
<div class="site-nav" style="position:fixed;"></div>
<!-- Site Navigation End -->

<!-- Site Container -->
<div id="site-container" class="site-fullscreen site-sticky">
	<!-- Header -->
<!-- <header id="site-header"> -->
		<div style="background-color:#10161a!important;" class="header-inner">
			<a href="https://petrichor-iitpkd.com/cap" ><img src="../img/title2.png" alt="Petrichor" class="img-full"></a> 
		</div>
	<!-- </header> -->
	<!-- Header End -->
<!-- Works Detail -->
	<section id="works">
		<!-- Slider -->
	<section id="site-slider">
		<div class="wrapper">
				<!-- Slider Item -->
					<div class="slide-image"><img src="../img/event/workshop2.jpg" alt="Slide" class="img-full"/></div>
				<!-- Slider Item End -->
		</div>
	</section>
	<!-- Slider End -->
	</section>
	<!-- Works -->
	<section id="works">
		<!-- Our Works -->
		<div class="box-white">
			<div class="wrapper padding-all" style="background-color: #10161a">
				<!-- Section Header -->
				<div class="section-header--30">
				<!-- <div class="space"></div>
					<h1 style="color: #0084DD">Workshops</h1>
				</div> -->
				<!-- Section Header End -->

				<!-- Section Content -->
				<div class="row margin-none">
					<div class="space"></div>
				</div>

				<div class="row">
					<!-- Work Col -->
					<div class="col-md-6 col-sm-6 margin-bottom-20">
			
  <div class="content">
    <a href="/workshops/digitalmarketing" target="_blank">
      <div class="content-overlay"></div>
      <h2 style="color: white; text-align: center;">DIGITAL MARKETING</h2>
      <img class="content-image" src="../img/event/dg1.jpg">
      <div class="content-details fadeIn-top">
        <h3>DIGITAL MARKETING</h3>
        <!-- <p>This is a short description</p> -->
      </div>
    </a>
  </div>
</div>
					<!-- Work Col End -->
					<!-- Work Col -->

					<!-- need to be uncommented to add second workshop -->
					<div class="col-md-6 col-sm-6 margin-bottom-20">
			
  <div class="content">
    <a href="/workshops/arvr" target="_blank">
      <div class="content-overlay"></div>
      <h2 style="color: white; text-align: center;">AUGMENTED AND VIRTUAL REALITY</h2>
      <img class="content-image" src="../img/event/arvr.jpg">
      <div class="content-details fadeIn-top">
        <h3>AUGMENTED AND VIRTUAL REALITY</h3>
      </div>
    </a>
  </div>
</div>

<!-- till here -->
		

		<!-- need to be uncommented to add third workshop-->
					<div class="col-md-6 col-sm-6 margin-bottom-20">

  <div class="content" >
    <a href="/workshops/ai" target="_blank">
      <div class="content-overlay"></div>
      <h2 style="color: white; text-align: center;">ARTIFICIAL INTELLIGENCE</h2>
      <img class="content-image" src="../img/event/ai.jpeg">
      <div class="content-details fadeIn-top">
        <h3>ARTIFICIAL INTELLIGENCE</h3>
      </div>
    </a>
  </div>
</div>

<!-- till here -->
		
					<!-- Work Col End -->
				</div>

				<div class="row margin-none">
				</div>
				<!-- Section Content End -->
			</div>
		</div>
		<!-- Our Works End -->
	</section>
	
	
<!-- Site Container End -->

<!-- Scripts -->
<script src="../scripts/jquery.min.js"></script>
<script src="../scripts/bootstrap.min.js"></script>
<script src="../scripts/owl.carousel.js"></script>
<script src="../scripts/jquery.bxslider.min.js"></script>
<script src="../scripts/jquery.matchHeight.js"></script>
<script src="../scripts/jquery.prettyPhoto.js"></script>
<script src="../scripts/jquery.countTo.js"></script>
<script src="../scripts/jquery.stellar.js"></script>
<script src="../scripts/jquery.fitvids.js"></script>
<script src="../scripts/imagesloaded.pkgd.js"></script>
<script src="../scripts/masonry.pkgd.js"></script>
<script src="../scripts/slider.js"></script>


<!-- Custom Scripts -->
<script src="../scripts/scripts.js"></script>
</body>
</html>

