 .Sticky {
  margin:0;
  padding:0;
}      
  .Sticky body{
  font-family:arial,sans-serif;
  font-size:100%;
  background: #666;
  color:#fff;
}
.Sticky h2,p{
  font-size:100%;
  font-weight:normal;
}
.Sticky ul,li{
  list-style:none;
}
.Sticky ul{
  overflow:hidden;
  padding-top:4em;
}
.Sticky ul li a{
  text-decoration:none;
  color:#000;
  background:#feb2a8;
  display:block;
  height:18em;
  width:22em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.Sticky ul li{
 margin-bottom: 3em;
 margin-left: 2em;
 margin-right: 3em;
  float:left;
}
.Sticky ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
.Sticky ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}
.Sticky ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.Sticky ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#eee3e7;
}
.Sticky ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#f6abb6;
}
.Sticky ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.Sticky ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
.Sticky ol{text-align:center;}
.Sticky ol li{display:inline;padding-right:1em;}
.Sticky ol li a{color:#fff;}


@media (max-width: 640px)
{
	.Sticky ul li a{
 	/*height:14em;
 	width:14em;
 	margin-right: 30px;*/
  text-decoration:none;
        color:#000;
        background:#ffc;
        display:block;
        height:14em;
        width:14em;
        padding:1em;
        -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
        -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        -moz-transition:-moz-transform .15s linear;
        -o-transition:-o-transform .15s linear;
        -webkit-transition:-webkit-transform .15s linear;
 }
}



@media (max-width: 1300px){
 .Sticky ul li a{
 	text-decoration:none;
  color:#000;
  background:#feb2a8;
  display:block;
  height:16em;
  width:16em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
 }
}
 
