
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="about_para"] {
    margin-left: 150px !important;
    margin-right: 150px !important;
  }
  [class = "mu-video-play-btn play"] {
    margin-left: -5%;
    margin-top: 20%;
    }
    [class = "hu"] {
    margin-left : -2 !important%;
    
    }
}
  
@media only screen and (max-width: 1412px) {
    [class="mm"] {
        width: 600px;
        height: auto;
    }
}

@media only screen and (min-width: 1412px) and (max-width: 1800px) {
    [class="mm"] {
        width: 700px;
        height: auto;
    }
}

@media only screen and (min-width : 768px) and (max-width: 1440px) {
    [class="play"] {
        margin-left: -30% !important;
    }
    [class = "au"]{
        margin-left: 18% !important;
    }
    [class = "mu-video-play-btn play"] {
    margin-left: -25%;
    margin-top: 20%;
    }
    [class = "hu"] {
    margin-left : -25%;
    
    }
}

.play {
    margin-top: 200%;
}

@media only screen and (max-width: 849px){
	.div-no-mobile {
		visibility: hidden;
	}
}
.events {
	height: 100% !important;
}
